<a href="https://colab.research.google.com/github/drishtibaranwal/Machine-learning-Projects-/blob/main/Movie_Classification_Text_Clustering_using_K_Means_Clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/MarcusChong123/Text-Clustering-with-Python/master/Movies_Dataset.csv")

In [ ]:
df.head()

   id  ...                                           overview
0   0  ...  Led by Woody, Andy's toys live happily in his ...
1   1  ...  When siblings Judy and Peter discover an encha...
2   2  ...  A family wedding reignites the ancient feud be...
3   3  ...  Cheated on, mistreated and stepped on, the wom...
4   4  ...  Just when George Banks has recovered from his ...

[5 rows x 3 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        45466 non-null  int64
 1   title     45460 non-null  object
 2   overview  44507 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [ ]:
# Removing 'the' , 'a' kind of words
# data preprocessing
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

In [ ]:
documents= df['overview'].values.astype("U")

In [ ]:
vectorizer= TfidfVectorizer(stop_words='english')
features= vectorizer.fit_transform(documents)

In [ ]:
k=20
model=KMeans(n_clusters=k,init='k-means++', max_iter=100, n_init=1)
model.fit(features)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=100,
       n_clusters=20, n_init=1, n_jobs=None, precompute_distances='auto',
       random_state=None, tol=0.0001, verbose=0)

In [ ]:
df['cluster'] = model.labels_

df.head()

   id  ... cluster
0   0  ...       3
1   1  ...       3
2   2  ...       4
3   3  ...       6
4   4  ...       3

[5 rows x 4 columns]

In [ ]:
print("Cluster centroids: \n")
order_centroids = model.cluster_centers_.argsort()[:, ::-1]
terms = vectorizer.get_feature_names()

for i in range(k):
    print("Cluster %d:" % i)
    for j in order_centroids[i, :10]: #print out 10 feature terms of each cluster
        print (' %s' % terms[j])
    print('------------')

Cluster centroids:

Cluster 0:
 town
 small
 sheriff
 local
 new
 life
 young
 girl
 people
 family
------------
Cluster 1:
 woman
 young
 husband
 man
 life
 love
 finds
 married
 beautiful
 tries
------------
Cluster 2:
 nan
 ݣ1890
 frazier
 fraw
 fray
 frayed
 fraying
 frayn
 frazer
 frazzled
------------
Cluster 3:
 life
 young
 overview
 world
 wife
 girl
 finds
 father
 group
 years
------------
Cluster 4:
 time
 life
 day
 man
 years
 young
 world
 small
 new
 father
------------
Cluster 5:
 killer
 serial
 police
 detective
 young
 murder
 victims
 murders
 cop
 man
------------
Cluster 6:
 friends
 best
 group
 life
 college
 lives
 night
 family
 young
 old
------------
Cluster 7:
 war
 world
 ii
 civil
 american
 soldiers
 german
 army
 story
 soldier
------------
Cluster 8:
 family
 home
 life
 father
 mother
 son
 house
 young
 wife
 brother
------------
Cluster 9:
 new
 york
 city
 life
 young
 world
 home
 years
 love
 finds
------------
Cluster 10:
 earth
 planet
 space
 alien
 aliens
 crew
 human
 world
 race
 mission
------------
Cluster 11:
 school
 high
 students
 teacher
 student
 girls
 girl
 new
 group
 friends
------------
Cluster 12:
 king
 queen
 prince
 kingdom
 throne
 princess
 evil
 louis
 son
 young
------------
Cluster 13:
 man
 young
 life
 wife
 finds
 father
 old
 death
 daughter
 world
------------
Cluster 14:
 old
 year
 boy
 life
 father
 mother
 girl
 son
 new
 years
------------
Cluster 15:
 story
 true
 tells
 based
 life
 world
 film
 set
 young
 love
------------
Cluster 16:
 film
 directed
 director
 life
 based
 movie
 films
 feature
 short
 story
------------
Cluster 17:
 documentary
 film
 feature
 interviews
 life
 world
 footage
 filmmaker
 american
 length
------------
Cluster 18:
 men
 young
 women
 lives
 life
 group
 man
 woman
 world
 love
------------
Cluster 19:
 love
 falls
 young
 life
 girl
 fall
 story
 meets
 man
 woman
------------